body 
{
background-color: red;
}
#imie
{
border-style: dotted;
border-color: pink;
padding: 20px;
    width: 180px;
    height: 50px;
}
#nazwisko
{
border: dotted;
border-width: 5px;
border-radius: 40px:
padding: 20px;
    width: 180px;
    height: 50px;
}